{% extends 'base.html' %} {% load static %} {% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/bookings.css' %}" />
{% endblock head %} {% block content %}
<div class="bookings-wrapper">
  <h1 id="heading">My bookings</h1>
  <div class="bookings">
    <div class="booking-buttons">
      <a href="{% url 'book-table' %}" class="add-booking">Add booking</a>
    </div>
    {% for booking in bookings %}
    <div class="booking" data-bookingId="{{booking.id}}">
      <!-- I put span here so booking info is in center because of space-between property  -->
      <!-- <span></span> -->
      <p>{{booking}}</p>

      <!-- I added a styled anchor tag for the Add Booking link -->
      <div class="booking-buttons">
        <a
          href="{% url 'get-booking' booking.id %}"
          class="add-booking edit-button"
          >Edit booking</a
        >
        <button class="cancel-booking">Cancel booking</button>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<!-- JavaScript includes -->
<script
  async
  src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"
></script>
<script defer src="{% static 'js/bookings.js' %}"></script>
{% endblock %}
