{% extends 'base.html' %}
{%load static%}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}" />
{% endblock %}
{% block content %}
<div class="home-wrapper">
  <div class="hero">
    {% if request.user.is_authenticated %}
    <h2 id="headline">Welcome to <span id="highlight-username"> East Flavors</span>!</h2>
    <div class="action-btns">
      <a href="{% url 'menu' %}">
        <button>Explore Menu</button>
      </a>
      <a href="{% url 'book-table' %}">
        <button>Book a table</button>
      </a>
    </div>
    {%else%}
    <h2 id="headline">Welcome to <span id="highlight-username"> East Flavors</span>!</h2>
    <div class="action-btns">
      <a href="{% url 'menu' %}">
        <button>Explore Menu</button>
      </a>
      <a href="{% url 'login' %}">
        <button>Login and book a table</button>
      </a>
    </div>
    {%endif%}
  </div>
  <!--
  <div class="menu">
    <h1>Find your best food</h1>
    <div class="menu-wrapper">
      <div class="menu-item">
        <img src="{% static 'img/front1.jpg' %}" alt="menu-item" />
      </div>
      <div class="menu-item">
        <img src="{% static 'img/front2.jpg' %}" alt="menu-item" />
      </div>
      <div class="menu-item">
        <img src="{% static 'img/front3.jpg' %}" alt="menu-item" />
      </div>

      <div class="menu-item">
        <img src="{% static 'img/front4.jpg' %}" alt="menu-item" />
      </div>
      <div class="menu-item">
        <img src="{% static 'img/front55.jpg' %}" alt="menu-item" />
      </div>
      <div class="menu-item">
        <img src="{% static 'img/front6.jpg' %}" alt="menu-item" />
      </div>
    </div>
    <a href="{% url 'menu' %}">
      <button id="explore-menu">Explore Menu</button>
    </a>
  </div>-->
  <div class="about">
    <h1>About Us</h1>
    <div class="about-text">
      <img src="{% static 'img/findus.jpg' %}" alt="menu-item" />
      <p>
        Welcome to East Flavors, where tradition meets taste! For over 15 years, we’ve been bringing the rich and
        vibrant flavors of the Middle East to our community, offering a menu filled with authentic dishes crafted from
        the finest ingredients.

        From savory kebabs and fragrant rice to our freshly baked flatbreads and signature hummus, every meal at East
        Flavors tells a story of family recipes, age-old cooking techniques, and a love for sharing the taste of home.

        Whether you're a long-time fan of Middle Eastern cuisine or experiencing it for the first time, we invite you to
        savor the flavors that have made us a local favorite for more than a decade. At East Flavors, it’s not just
        about food—it’s about creating unforgettable dining experiences.

        Join us for a meal and discover why we’ve been proudly serving the heart of the Middle East on every plate!
      </p>
    </div>
  </div>

  <div class="about">
    <h1>Find Us</h1>
    <div class="about-text">
      <div class="contact">
        <div>
          <p>Phone</p>
          <p>021142588</p>
          <p>Opening hours: 11:00  to 23:00 Everyday</p>
        </div>
        <div>
          <p>Email</p>
          <p>eastflavores.pp4(att)gmail.com</p>
        </div>
        <div>
          <p>Address</p>
          <p>Gjutformsgatan 6, 721 33 Västerås</p>
        </div>
      </div>
      <!-- MAP -->
      <iframe class="map" title="mymap"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2017.890510055839!2d17.699075099999995!3d59.618184199999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x465fba5f0ce300ef%3A0x7bd8c2a116410a51!2zUHLDpHN0w6RuZ3NoYWxsZW4!5e0!3m2!1sen!2sse!4v1715890741611!5m2!1sen!2sse">
            </iframe>
    </div>
  </div>
</div>
{% endblock %}