{% extends 'base.html' %}
{%load static%}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
{% endblock %}
{% block content %}
<div class="home-wrapper">
  <div class="hero">
    {% if request.user.is_authenticated %}
    <h2 id="headline">Welcome to <span id="highlight-username"> East Flavors</span>!</h2>
    <div class="action-btns">
      <a href="{% url 'menu' %}" class="button-link"> Explore Menu </a>
      <a href="{% url 'book-table' %}" class="button-link"> Book a table </a>
    </div>
    {%else%}
    <h2 id="headline">Welcome to <span id="highlight-username"> East Flavors</span>!</h2>
    <div class="action-btns">
      <a href="{% url 'menu' %}" class="button-link"> Explore Menu </a>
      <a href="{% url 'login' %}" class="button-link"> Login and book a table </a>
    </div>
    {%endif%}
  </div>
  <div class="menu">
    <h1>Find your best food</h1>
    <div class="menu-wrapper">
      <div class="menu-item">
        <img src="{% static 'img/front1.jpg' %}" alt="menu-item">
      </div>
      <div class="menu-item">
        <img src="{% static 'img/front2.jpg' %}" alt="menu-item">
      </div>
      <div class="menu-item">
        <img src="{% static 'img/front3.jpg' %}" alt="menu-item">
      </div>

      <div class="menu-item">
        <img src="{% static 'img/front44.webp' %}" alt="menu-item">
      </div>
      <div class="menu-item">
        <img src="{% static 'img/sallad1.jpg' %}" alt="menu-item">
      </div>
      <div class="menu-item">
        <img src="{% static 'img/front6.jpg' %}" alt="menu-item">
    </div>
  </div>
  <a href="{% url 'menu' %}" class="button-link"> Explore Menu </a>
</div>
  <div class="about">
    <h1>About Us</h1>
    <div class="about-text">
      <img src="{% static 'img/about11.jpg' %}" alt="menu-item">
      <p>
        Welcome to East Flavors, where tradition meets taste! For over 15 years, we’ve been bringing the rich and
        vibrant flavors of the Middle East to our community, offering a menu filled with authentic dishes crafted from
        the finest ingredients.

        From savory kebabs and fragrant rice to our freshly baked flatbreads and signature hummus, every meal at East
        Flavors tells a story of family recipes, age-old cooking techniques, and a love for sharing the taste of home.

        Whether you're a long-time fan of Middle Eastern cuisine or experiencing it for the first time, we invite you to
        savor the flavors that have made us a local favorite for more than a decade. At East Flavors, it’s not just
        about food—it’s about creating unforgettable dining experiences.

        Join us for a meal and discover why we’ve been proudly serving the heart of the Middle East on every plate!
      </p>
    </div>
  </div>

  <div class="about">
    <h1>Find Us</h1>
    <div class="about-text">
      <div class="contact">
        <div>
          <p>Phone</p>
          <p>021142588</p>
          <p>Opening hours: 11:00  to 23:00 Everyday</p>
        </div>
        <div>
          <p>Email</p>
          <p>eastflavores.pp4@gmail.com</p>
        </div>
        <div>
          <p>Address</p>
          <p>Gjutformsgatan 6, 721 33 Västerås</p>
        </div>
      </div>
      <!-- MAP -->
      <img src="{% static 'img/findus11.jpg' %}" alt="menu-item">
    </div>
  </div>
</div>
{% endblock %}