.bookings-wrapper {
  background-color: var(--color-grey-0);
  width: 100%;
  height: 100%;
}

.bookings-wrapper .bookings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 50%;
  margin: 50px auto;
}

.bookings-wrapper #heading {
  text-align: center;
  color: white;
  font-size: 3rem;
  margin: 50px 0;
}

.bookings-wrapper .bookings .booking {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-grey-100);
  padding: 15px 20px;
  width: 100%;
  text-align: center;
  transition: all 0.3s;
}

.bookings-wrapper .bookings .booking:hover {
  transform: scale(1.05);
  background-color: var(--color-grey-200);
  cursor: pointer;
}

.bookings-wrapper .bookings .booking .cancel-booking,
.bookings-wrapper .bookings .booking .add-booking {
  padding: 5px 10px;
  border-radius: 10px;
  background-color: var(--color-blue-100);
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
  border: none;
  transition: all 0.3s;
}

.bookings-wrapper .bookings .booking .cancel-booking:hover,
.bookings-wrapper .bookings .booking .add-booking:hover {
  transform: scale(1.1);
  cursor: pointer;
  background-color: var(--color-red-700);
}

@media screen and (max-width: 1024px) {
  .bookings-wrapper .bookings {
    width: 80%;
  }

  .bookings-wrapper .bookings .booking {
    flex-direction: column;
    gap: 10px;
  }
}
