.home-wrapper {
  background-color: var(--color-grey-0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.home-wrapper #headline {
  font-size: 4rem;
  text-align: center;
  padding-top: 14rem;
}

.home-wrapper .hero {
  background-image: url("../img/bbq.webp");
  background-position: center;
  height: 80vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-wrapper .action-btns {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 50px auto;
}

.home-wrapper .action-btns button {
  padding: 5px 10px;
  border-radius: 10px;
  color: var(--color-grey-0);
  background-color: var(--color-red-100);
  border: 2px solid var(--color-grey-50);
  font-size: 2rem;
  transition: all 0.3s;
}

.home-wrapper .action-btns button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

#highlight-username {
  color: var(--color-orange-400);
}

.menu {
  text-align: center;
}

.menu h1 {
  margin: 50px auto;
  text-align: center;
  text-transform: uppercase;
}

.menu-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 20px;
}

#explore-menu {
  padding: 5px 10px;
  border-radius: 10px;
  background-color: var(--color-blue-100);
  border: none;
  width: 200px;
  margin: 20px;
  color: white;
  font-weight: 600;
}

.about {
  text-align: center;
  width: 80%;
  margin: 30px auto;
}

.about h1 {
  margin: 30px 0;
}

.about-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  text-align: left;
}

.about-text img {
  width: 50%;
}
.contact {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

@media screen and (max-width: 769px) {
  .home-wrapper {
    text-align: center;
  }

  .home-wrapper .action-btns {
    display: flex;
    flex-direction: column;
  }

  .home-wrapper .action-btns button {
    font-size: 2.2rem;
    padding: 7px 12px;
  }

  .menu-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }

  .about-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
  
  .about-text img {
    width: 100% !important;
  }
}
